.animate-marquee{
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
    
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-size: 1.5rem;
  z-index: 50;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
}
